<div
    style="max-width: 700px; display: grid; justify-content: center !important; font-family:lato,helvetica neue,helvetica,arial,sans-serif; background-color: white;">
    <img src="https://factodev.upmeup.es/assets/Cabecera_bienvenida.jpeg" alt="" style="width: 100%;">
    <hr>
    <h1 style="max-width: 700px; font-size: 30px; color: #4c808e; text-align: center;">
        ¡Os damos la bienvenida a <strong>Up me Up </strong>donde el trabajo es mucho más que trabajo!
    </h1>
    <p style="max-width: 700px; color:#808080; font-size: 16px;">
        ¡Bienvenidxs a bordo! En Up me Up, estamos felices de daros la bienvenida a nuestra vibrante 
        comunidad laboral. Os habéis unido a una plataforma diseñada para que encontréis el mejor talento 
        dentro de la economía social. No solamente trabajarán con vosotrxs lxs mejores profesionales, 
        sino que además estarán alineadxs con los valores de vuestra entidad y vuestro propósito.
    </p>
    <p style="max-width: 700px; color:#808080; font-size: 16px;">
        Aquí, no solo encontraréis trabajadorxs, encontraréis aliadxs que os llevarán hacia 
        un futuro laboral lleno de satisfacción y crecimiento.
    </p>
    <p style="max-width: 700px; color:#808080; font-size: 16px;">
        Gracias por confiar en Up me Up para vuestra búsqueda de talento. Estamos aquí para apoyaros en cada paso del camino. ¿Estáis preparadxs?
    </p>
    <img src="https://factodev.upmeup.es/assets/Pie_bienvenida.jpeg" alt="" style="width: 100%; padding-top: 20px; padding-bottom: 20px;">
    <div
        style="display: grid; grid-template-columns: repeat(3, 1fr); justify-content: space-around; justify-items: center; font-size: 12px; color: #656565;">
        <a href="https://twitter.com/UpmeUp" style="text-decoration: none; color: #656565;">
            <div style="display: grid; grid-auto-flow: column; gap: 5px; align-content: center;">
                <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-gray-twitter-48.png"
                    alt="Twitter"
                    style="display: inline-block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                    height="24" width="24">
                <span>Twitter</span>
            </div>
        </a>
        <a href="https://www.linkedin.com/company/up-me-up/" style="text-decoration: none; color: #656565;">
            <div style="display: grid; grid-auto-flow: column; gap: 5px; align-content: center;">
                <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-gray-linkedin-48.png"
                    alt="LinkedIn"
                    style="display: inline-block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                    height="24" width="24">
                <span>LinkedIn</span>
            </div>
        </a>
        <a href="https://upmeup.es" style="text-decoration: none; color: #656565;">
            <div style="display: grid; grid-auto-flow: column; gap: 5px; align-content: center;">
                <img src="https://cdn-images.mailchimp.com/icons/social-block-v2/outline-gray-link-48.png" alt="Website"
                    style="display: inline-block;border: 0;height: auto;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"
                    height="24" width="24">
                <span>Website</span>
            </div>
        </a>
    </div>
    <p style="max-width: 700px; font-size: 13px; text-align: center; padding-top: 20px; color:#808080;">Esta comunicación ha sido enviada por Up me Up a destinatarios con los cuales mantenemos una relación contractual previa o que han solicitado o autorizado expresamente su envío.</p> 
    <p style="max-width: 700px; font-size: 13px; text-align: center; color:#808080;">Si no deseáis recibir más comunicaciones, podéis daros de baja en el mail <a href="mailto: hola@upmeup.es?Subject=Baja%20notificaciones%20UpmeUp"></a> hola@upmeup.es </p>
    
</div>